*.bin
*.dcp
*.exe
*.dcu
*.~*
*.scc
*.bak
*.local
*.identcache
*.dsk
*.otares
*.pdf
*.txt
*.stat
*.projdata
*.cfg
*.ldf
*.mdf
*.txaPackage
*.tvsconfig
*.txvpck
*.db
*.s3db
*.rsm
.git
lastopen
__history/
__recovery/
Android
DCU
OSX32
*TemplateOSX*
*.ini
Программы
Программы управления
KulonPrograms.git

*.s3db-journal
